@use 'variables' as *;

.logo {
  font-size: 2rem;
  color: $text-primary;
  font-family: cursive;
  text-decoration: underline;
  text-decoration-color: $primary-base;
  text-underline-offset: 4px;
  margin-bottom: $sp-xl;
  text-align: center;
}